layout {
    background-color "transparent"
    gaps 35
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        off
    }
    border {
        on
        width 4
    }
    shadow {
        on
        draw-behind-window true
        softness 30
    }
    struts {
        top -20
    }
}
gestures {
    hot-corners {
        off
    }
}
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}
layer-rule {
    match namespace="noctalia-bar"
    
    background-effect {
        blur false
    }
}

