output "GIGA-BYTE TECHNOLOGY CO., LTD. MO27Q28G 25392F004832" {
    scale 1
    focus-at-startup
    variable-refresh-rate on-demand=true
    mode "2560x1440@119.998"
}
output "eDP-1" {
    scale 1.50
    variable-refresh-rate on-demand=true
}

switch-events {
    lid-close {
        //spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "lockAndSuspend"
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"
    }
}
